@import "_common";


/////////////////
// Tags styles //
/////////////////

figure {
    img {
        width: 100%;
    }
}

body {
    font-family: $font-family-1;
}

////////////////////
// Generic styles //
////////////////////

.widget_nav_menu, nav {
    ul {
        @include list-plain;

        li {
            display: inline-block;
        }
    }
}

//////////////////
// Views styles //
//////////////////

body.home {

}

body.not-home {

}

body.blog {

}

body.page {

}

body.page-template-default {

}



